<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moon.refactoring.mapper.AccountMapper">

    <!-- has many 객체 연관 관계를 설정 -->
    <resultMap id="accountWithTransactions" type="Account">
        <id property="id" column="id"/>
        <result property="balance" column="balance"/>
        <collection property="transactions"
                    ofType="Transaction"
                    select="selectTransactionsByAccountId"/>
    </resultMap>

    <!-- 계좌 잔액을 조회하는 SQL 매핑 -->
    <select id="findAccountWithTransactions" resultMap="accountWithTransactions">
        SELECT id, balance
        FROM accounts
        WHERE id = #{id}
    </select>

    <!-- 계좌의 거래 내역을 조회하는 SQL 매핑 -->
    <select id="selectTransactionsByAccountId" resultType="Transaction">
        SELECT id, account_id, amount, type
        FROM transactions
        WHERE account_id = #{accountId}
    </select>



    <!-- 계좌의 잔액을 갱신하는 SQL 매핑 -->
    <update id="updateBalance" parameterType="Account">
        UPDATE accounts
        SET balance = #{balance}
        WHERE id = #{id};

        <foreach item="transaction" collection="transactions" separator=";" close=";">
            <!-- 거래 내역을 추가하는 SQL 매핑 -->
            INSERT INTO transactions (account_id, amount, type)
            VALUES (#{transaction.accountId}, #{transaction.amount}, #{transaction.type})
            ON DUPLICATE KEY UPDATE id = id
        </foreach>

    </update>
</mapper>
