<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moon.refactoring.legacy.mapper.TransactionMapper">
    <insert id="saveTransaction" parameterType="map">
        INSERT INTO transactions (account_id, amount, type)
        VALUES (
        #{accountId},
        <choose>
            <when test="type == 'DEPOSIT'">
                #{amount}
            </when>
            <when test="type == 'WITHDRAW'">
                -#{amount}
            </when>
            <when test="type == 'TRANSFER_FROM'">
                -#{amount}
            </when>
            <when test="type == 'TRANSFER_TO'">
                #{amount}
            </when>
        </choose>,
        #{type}
        )
    </insert>
</mapper>
