<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moon.refactoring.legacy.mapper.AccountMapper">

    <select id="getAccount" parameterType="int" resultType="map">
        SELECT id, balance
        FROM accounts
        WHERE id = #{id}
    </select>

    <update id="updateAccount" parameterType="map">
        <choose>
            <when test="type == 'DEPOSIT'">
                UPDATE accounts SET balance = balance + #{amount}
                WHERE id = #{accountId};
            </when>
            <when test="type == 'WITHDRAW'">
                UPDATE accounts SET balance = balance - #{amount}
                WHERE id = #{accountId} AND balance >= #{amount};
            </when>
            <when test="type == 'TRANSFER_FROM'">
                UPDATE accounts SET balance = balance - #{amount}
                WHERE id = #{fromAccountId} AND balance >= #{amount};
            </when>
            <when test="type == 'TRANSFER_TO'">
                UPDATE accounts SET balance = balance + #{amount}
                WHERE id = #{toAccountId};
            </when>
        </choose>
    </update>

레거시
</mapper>
