<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moon.blog.legacy.user.mapper.UserMapper">
    <select id="getUsers" resultType="map">
        SELECT sq,
               name,
               phone,
               post,
               address1,
               address2,
               CASE
                   WHEN gender = '1' THEN '남'
                   WHEN gender = '2' THEN '여'
                   ELSE '' END gender_text
        FROM USER
    </select>

    <select id="getUser" resultType="map">
        SELECT sq,
               name,
               phone,
               post,
               address1,
               address2,
               CASE
                   WHEN gender = '1' THEN '남'
                   WHEN gender = '2' THEN '여'
                   ELSE '' END gender_text
        FROM USER
    </select>

    <insert id="saveUser" parameterType="map">
        INSERT INTO USER (name, phone, post, address1, address2, gender) values (#{name}, #{phone}, #{post}, #{address1}, #{address2}, #{gender})
    </insert>

    <update id="modifyUser" parameterType="map">
        UPDATE USER SET
            name = #{name},
            phone = #{phone},
            post = #{post},
            address1 = #{address1},
            address2 = #{address2}
        WHERE sq = ${sq}
    </update>
</mapper>